In [7]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [ ]:
Twinkle, twinkle, little star,
	How I wonder what you are! 
		Up above the world so high,   		
		Like a diamond in the sky. 
Twinkle, twinkle, little star, 
	How I wonder what you are!

In [18]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \nHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are!

In [21]:
import sys

In [24]:
print("python version is :" , sys.version)

python version is : 3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

In [25]:
print("python version is :" , sys.version_info)

python version is : sys.version_info(major=3, minor=9, micro=12, releaselevel='final', serial=0)

In [28]:
import platform
print('python version is : ', platform.python_version())

python version is :  3.9.12

In [31]:
import datetime
now = datetime.datetime.now()
print(now)

2023-06-01 17:32:47.320021

In [32]:
from math import pi
r = float(input('radius of the circle is '))
print('area of the circle with radius ', pi* r**2)

radius of the circle is 42
area of the circle with radius  5541.769440932395

In [39]:
fname = 'padma'
lname = 'vathi'
print("hello  " + fname  + ' ' +lname)

hello  padma vathi

In [40]:
fname = 'padma   '
lname = 'vathi'
print(fname  +lname)

padma   vathi

In [41]:
fname = 'padma   '
lname = '   vathi'
print(fname  +lname)

padma      vathi

In [49]:
values = input('enter the comma seperated values')
list = values.split(',')
tuples = tuple(list)
print('list of values are :' , list)
print('tuples are :',  tuples)

enter the comma seperated values,4,5,2,7,5,75,,75,785,
list of values are : ['', '4', '5', '2', '7', '5', '75', '', '75', '785', '']
tuples are : ('', '4', '5', '2', '7', '5', '75', '', '75', '785', '')

In [57]:
filename = input('please enter the input : ')
f_extns = filename.split('.')
print(repr(f_extns[-1]))

please enter the input : baby.ds
'ds'

Write a Python program to display the first and last colors from the following list.

color_list = ["Red","Green","White" ,"Black"]

In [59]:
color_list = ["Red","Green","White" ,"Black"]

print(color_list[0], color_list[-1])

Red Black